<% include partials/header %>

<h2>Update user Info</h2>

<form action="/users/<%= user.id %>" method="post">
    <input type="text" name="name" value="<%= user.name %>" placeholder="name">
    <input type="text" name="email" value="<%= user.email %>" placeholder="email">
    <input type="text" name="age" value="<%= user.age %>" placeholder="age">
    <input type="password" name="password" value="<%= user.password %>" placeholder="password">
    <input type="text" name="favourites" value="<%= user.favourites %>" placeholder="favourites">
    <input type="submit" value="Update User">
</form>

<% include partials/footer %>