<% include partials/header %>

<section class="wrapper">
  <div class="article_container">
    <h1 class="article_title "><%= article.article_title %></h1>

    <article class="article_intro "><%- article.article_intro %></article>

    <% if(article.article_subtitle) { %>

    <h2 class="article_subtitle"><%= article.article_subtitle %></h2>

    <% } %> <% if(article.article_snippets) {%>

      <pre> <code class="language-javaScript"><%= article.article_snippets %></code></pre>

    <% } %>

    <article class="article_description"><%- article.article_description %></article>
    <div class="article">
      <div class="img_container">
        <img id="profile" src="/images/cont.png" alt="your image" />
      </div>
      <div class="userinfo">
        <h1 class="author_name">
          Written by
          <span class="author_name_prefix">@[<%= article.author.name %>]</span>
        </h1>
        <h2 class="author_introduction"><%= article.author.email %></h2>
      </div>
    </div>

    <% if(user && (user.id == article.author.id)){ %>
    <div>
      <a href="/articles/<%= article.id %>/updateinfo"
        ><button class="btn trans_btn">Update Article</button></a
      >
      <a href="/articles/<%= article.id %>/delete"
        ><button class="btn trans_btn">Delete Article</button></a
      >
    </div>
    <% } %>
  </div>
  
  <div class="comment_view">
    <label for="view_all_comments" class="view_comments">View all</label>
    <input type="checkbox" id="view_all_comments" />
    <div class="user_comments_box">
     
      <% comments.forEach(comment => { %>
      
      <div class="user_comments">
        <img id="profile_comment" src="/images/cont.png" alt="your image" />
        <p class="comment_user"><%= comment.author.name %></p>
        <p class="comment"><%= comment.content %></p>
      </div>
      <% if(user && (user.id == comment.author.id || user.id ==
      article.author.id) ) { %>
      <div class="trash_edit">
        <a href="/articles/<%= comment.articleId %>/comments/<%= comment.id %>/editcomment"
          ><img class="edit" src="/images/edit.png"
        /></a>
        <a href="/articles/<%= comment.articleId %>/comments/<%= comment.id %>/deletecomment"
          ><img class="trash" src="/images/trash.png"
        /></a>
      </div>
      <% } else { %>
      <div class="trash_edit">
        <a><img style="display:none" class="edit" src="/images/edit.png"/></a>
        <a
          ><img style="display:none " class="trash" src="/images/trash.png"
        /></a>
      </div>
      <% } %> <% }) %>
    </div>
  </div>
 
  <% if(user){ %>
  <div class="comment_container">
    <form
      action="/articles/<%= article.id %>/comments"
      method="post"
      class="comment_form"
    >
      <textarea
        name="content"
        id="comment_box"
        cols="30"
        rows="10"
        placeholder="Write your comments"
      ></textarea>
      <div class="comment_button_container">
        <button class="comment_button">
          <input type="submit" value="Add Comment" class="comment_submit" />
        </button>
      </div>
    </form>
  </div>
  <% } else { %>
  <div class="comment_container">
    <form
      action="/articles/<%= article.id %>/comments"
      method="post"
      class="comment_form"
    >
      <textarea
        name="content"
        id="comment_box"
        cols="30"
        rows="10"
        placeholder="Sign in to comment"
      ></textarea>
      <div class="comment_button_container">
        <button class="comment_button">
          <input
            type="submit"
            value="Sign in to comment"
            class="comment_submit"
          />
        </button>
      </div>
    </form>
  </div>
  <% } %>
</section>

<% include partials/footer %>
